body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%,95%);

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color : violet;
    color: white;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hotpink;
    color: white;
    /* border: 2px solid black; */
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    /* padding-top: 5px; */
}
button:hover{
    background-color:hsl(330, 100%, 75%) ;
}
button:active{
    background-color: hsl(330, 100%, 79%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-top: 10px;
    gap: 8px;


}
.op-btn{
    background-color: blueviolet;

}
.op-btn:hover{
    background-color: rgb(162, 97, 224);
}

.op-btn:active{
    background-color: rgb(178, 122, 231);
}