body{
    background-image: url('https://e0.pxfuel.com/wallpapers/688/794/desktop-wallpaper-pink-sky-aesthetic-purple-sky-sky-aesthetic-aesthetic-aesthetic-sky-city.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%,100%,0.1);
}