body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0,0%,90%);


}
#myH1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0,0%,25%);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 50PX;
    padding: 30PX;
    background-color: white;

}
#display{
    font-size: 5REM;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0,0%,35%);
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
    margin-bottom: 25px;

}
#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}
#start-btn{
    background-color: green;
}
#start-btn:hover{
    background-color: rgb(9, 193, 9);
}

#stop-btn{
    background-color: red;
}
#stop-btn:hover{
    background-color: coral;
}

#reset-btn{
    background-color: rgb(45, 151, 245);

}
#reset-btn:hover{
    background-color: rgb(109, 176, 235);
}