body{
    font-family: Arial, Helvetica, sans-serif;

}
.todo-grid, .todo-ip-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;

}
.todo-ip-grid{
    margin-bottom: 10px;
    align-items: stretch;
}
.name-ip,.due-date-ip{
    font-size: 16px;

    padding: 6px;
}
.add-btn{
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    border: none;
    font-size: 15px;
}
.delete-btn{
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    padding: 10px 10px;
    cursor: pointer;
}